<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iDRAC Sensor Data</title>
</head>
<body>
    <h1>Current Data</h1>
    <table border="1">
        <tr>
            <th>Timestamp</th>
            <th>Fan Speed</th>
            <th>Inlet Temp</th>
            <th>Outlet Temp</th>
            <th>CPU1 Temp</th>
            <th>CPU2 Temp</th>
        </tr>
        <tr>
            <td>{{ current[1] }}</td>
            <td>{{ current[2] }}</td>
            <td>{{ current[3] }}</td>
            <td>{{ current[4] }}</td>
            <td>{{ current[5] }}</td>
            <td>{{ current[6] }}</td>
        </tr>
    </table>

    <h1>Historical Data</h1>
    <table border="1">
        <tr>
            <th>Timestamp</th>
            <th>Fan Speed</th>
            <th>Inlet Temp</th>
            <th>Outlet Temp</th>
            <th>CPU1 Temp</th>
            <th>CPU2 Temp</th>
        </tr>
        {% for row in history %}
        <tr>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
